html, body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: #f8fafb;
}
* {
    font-weight: 300 !important;
}
a{
    text-decoration: none;
    color: dimgrey;
}
a:hover {
    text-decoration: none;
    color: dimgrey;
}
.child_category{
    margin-left: 50px;
    margin-top: 15px;
    float: left;
    width: 30%;
}

.child_category_list{
    margin: 15px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover for category in admin panel*/
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class for category in admin panel*/
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content for category in admin panel*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

section {
    float: right;
    width: 63%;
}
aside {
    float: left;
    width: 30%;
}
#category_nav .nav-link {
    font-size: 12px;
}
@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}