html, body {
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    background-color: #f8fafb;
}
* {
    font-weight: 300 !important;
}
.category_list{
    display: inline-flex;
    margin: 5px;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: dimgrey;
}
a:hover {
    text-decoration: none;
    color: dimgrey;
}
.child_category{
    margin-left: 50px;
    margin-top: 15px;
    float: left;
    width: 30%;
}

.child_category_list{
    margin: 15px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover for category in admin panel*/
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class for category in admin panel*/
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content for category in admin panel*/
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

section {
    float: right;
    width: 63%;
}
aside {
    float: left;
    width: 30%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}